<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>

	<form method="post" th:object="${equation}">
		<label>
			<div>Please enter the location in the format of:
			Hospital, building, floor, room.</div>
			<input type="text" name="location" th:value="${location}"></input>
		</label>
		
		<label>
			<div>Select a barrier material:</div>
			<select>
			<option th:each="barrier : ${T{org.launchcode.Equation.Barrier).values()}"
				th:value="${barrier}"
				th:text="${barrier}">
			</option>
			</select>
		</label>
	
	    <label>
	        <div>Number of patients per day:</div>
	        <input type="text" name="patients" th:value="${patients}"></input>
	    </label>
	    <label>
	        <div>Occupancy:</div>
	        <input type="text" name="occupancy" th:value="${occupancy}"></input>
	    </label>
	    <label>
	    	<div>Permissible limits in milligray units:</div>
	    	<input type="text" name="limit" th:value="${limit}"></input>
	    </label>
	    <label>
	    	<div>Distance in meters:</div>
	    	<input type="text" name="distance" th:value="${distance}"></input>
	    </label>
	    <div class="error" th:text="${error}"></div>
	    <button type="submit">Calculate shielding!</button>
	</form>
	
	<div th:replace="template :: footer"></div>

</body>
</html>