<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

<div th:replace="template :: navigation"></div>

<h1>Radiation Shielding User Calculations</h1>



<div th:each="equation : ${equations}">
	<h3> <a th:href="'/shield/' + ${equation.author.username} + '/' + ${equation.uid}" th:text="${equation.location}"></a></h3>
	<p class="equation-answer"> <span th:text="${equation.answer}"></span></p>
	<p class="equation-author">Calculated by <a th:href="'/shield/' + ${equation.author.username}" th:text="${equation.author.username}"></a></p>

</div>

	<style>
	    button {margin-top: 10px;}
	</style>
<div class="container-center">
	<button class="btn btn-default active" value="Previous Page" onClick="history.go(-1);return true;">Return to previous page</button>
	</div>

</body>
</html>