<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="dochead">
	<link th:href="@{/css/normalize.css}" rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<title>Radiation Shielding</title>
</head>

<body>

<nav th:fragment="navigation">
	<ul id="user-account">
		<li><a href="/login">Login</a></li>
		<li><a href="/logout">Logout</a></li>	
	</ul>
	<ul>
		<li><a href="/">home</a></li>
		<li><a href="/shield">All calculations</a></li>
		<li><a href="/shield/newcalc">New calculation</a></li>
	</ul>
</nav>

<footer th:fragment="footer"><em>All calculations follow the National Council on Radiation Protection and Measurements guidelines</em></footer>
</body>
</html>